<?xml version='1.0' encoding='UTF-8'?>
<Request xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:noNamespaceSchemaLocation='http://schema.2sms.com/2.0/schema/0410_RequestSendMessage.xsd' Version='1.0'>
     <Identification>
      <UserID>$user</UserID>
      <Password>$pass</Password>
     </Identification>
     <Service>
         <ServiceName>SendMessage</ServiceName>
         <ServiceDetail>
              <CombiMessage>
                  <CombiList>
                      <Individual type='sms'>$to</Individual>
                  </CombiList>
                  <Text>$body</Text>
              </CombiMessage>
         </ServiceDetail>
     </Service>
</Request>